/* ■■■■■ УТИЛИТАРНЫЕ КЛАССЫ ■■■■■■■■■■ */
.none,
[none],
.hidden,
[hidden] {
    display: none !important;
}

.scroll-lock,
.lock,
.no-scroll {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;

    // opacity: 0;
    // appearance: none;
}