.page-wrapper {
    max-width: 1000px;
    margin-inline: auto;
    padding: 1em;

    > *:not(:last-child) {
        margin-block-end: 3rem;
    }
}

h1 {
    font-size: var(--fs-800);
    font-weight: 600;
    line-height: 1.3;
    text-wrap: balance;
    text-align: center;
}

.qr-btn {
    width: fit-content;
    padding: .75em 1em;

    font-weight: 400;

    border-radius: .25em;
    color: #fff;
    background-color: var(--clr-accent);

    transition: transform var(--transition);
    will-change: trasform;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            transform: translateY(2px);
        }
    }

    &:disabled {
        color: grey;
        pointer-events: none;
    }
    
    > span {
        display: block;
    }

    &:active {
        > span {
            transform: translateY(1px);
        }
    }
}




.selected-file-name {
    padding-block: .5em;
    font-weight: 600;
    text-align: center;
    text-wrap: nowrap;
    line-height: 1.5;
    overflow-x: auto;

    @supports (scrollbar-width: auto) {
        scrollbar-width: thin;
        scrollbar-color: var(--clr-accent) transparent;
    }

    > span {
        font-family: var(--ff-mono);
        font-weight: 400;
    }
}

.uploaded-image {
    max-width: 300px;
    margin-inline: auto;

    @media (max-width: 700px) {
        max-width: 200px;
    }
    @media (max-width: 350px) {
        max-width: 100%;
    }
}




.result {
    padding-block: 1em;
    font-weight: 600;
    line-height: 1.6;

    &--success {
        display: flex;
        align-items: center;
        gap: 1em;
        text-wrap: nowrap;
        overflow-x: auto;

        @supports (scrollbar-width: thin) {
            scrollbar-width: thin;
            scrollbar-color: var(--clr-accent) transparent;
        }

        > span {
            padding: 1em;
    
            font-family: var(--ff-mono);
            font-weight: 400;
    
            color: hsl(from var(--clr-success) h s calc(l + .1));
            background-color: color-mix(in srgb, currentColor, transparent 80%);
    
            border-radius: 0.25em;
    
            > a {
                color: inherit;
                text-decoration: underline;
                transition: color var(--transition);
    
                @media (any-hover: hover) {
                    &:hover {
                        color: var(--clr-accent);
                    }
                }
            }
        }
    }

    &--error, &--info {
        width: fit-content;
        padding: 1em;
        background-color: color-mix(in srgb, currentColor, transparent 80%);
        border-radius: 0.25em;
    }

    &--error {
        color: hsl(from var(--clr-error) h s calc(l + .1));
    }

    &--info {
        color: dodgerblue;
    }
}

.scan-input, .file-input {
    > *:not(:last-child) {
        margin-block-end: 1rem;
    }
}

.video-wrapper {
    position: relative;
    aspect-ratio: 1;
    width: min(400px, 100%);
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    &::after {
        --qr-area-width: 80%;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: var(--qr-area-width);
        aspect-ratio: 1;

        border-radius: .5em;
        box-shadow: 0 0 0 100vmin hsl(0 0% 0% / 60%);
        pointer-events: none;
    }

    > span {
        --br-width: 4px;
        --br-color: white;

        position: absolute;
        z-index: 100;
        width: 12%;
        aspect-ratio: 1;
        pointer-events: none;
        border: var(--br-width) solid var(--br-color);

        &.top-left {
            top: calc(15% - var(--br-width));
            left: calc(15% - var(--br-width));
            border-top-left-radius: 1em;
            border-bottom: none;
            border-right: none;
        }
        &.top-right {
            top: calc(15% - var(--br-width));
            right: calc(15% - var(--br-width));
            border-top-right-radius: 1em;
            border-bottom: none;
            border-left: none;
        }
        &.bottom-left {
            bottom: calc(15% - var(--br-width));
            left: calc(15% - var(--br-width));
            border-bottom-left-radius: 1em;
            border-top: none;
            border-right: none;
        }
        &.bottom-right {
            bottom: calc(15% - var(--br-width));
            right: calc(15% - var(--br-width));
            border-bottom-right-radius: 1em;
            border-top: none;
            border-left: none;
        }
    }

    > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > canvas {
        display: none;
    }
}

.pictures {
    display: flex;
    gap: .25em;
    overflow-x: auto;

    > img {
        max-width: 100px;
    }

    &:empty {
        display: none;
    }
}